/*-- scss:defaults --*/
// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&family=Yanone+Kaffeesatz&display=swap');

// fonts
$font-family-sans-serif: 'Lato', Tahoma, sans-serif !default;
$presentation-font-size-root: 35px;
$presentation-font-smaller: 0.8;
$presentation-block-margin: 6px;

// headings
$presentation-h1-font-size: 2.6em;
$presentation-h2-font-size: 1.8em;
$presentation-h3-font-size: 1.6em;
$presentation-h4-font-size: 1.3em;
$presentation-heading-font: 'Yanone Kaffeesatz',  Tahoma, sans-serif  !default;
$presentation-heading-color: #CB4335 !default;

//code
//$code-color: #88398A !default;
$font-family-monospace: 'Inconsolata', monospace  !default;

// general  
$body-bg: #fff;
$link-color: #2980B9;

/*-- scss:rules --*/

.subtitle {
  font-size: $presentation-h4-font-size;
}

 .text-center {
   text-align: center;
 }

 .text-left {
  text-align: left;
  margin-left: 0px;
  margin-right: auto;
}

.emph {
  color: #148F77;
}

li li {
  font-size: 0.9em;
}

table {
  font-size: 0.7em;
}

.smaller-table table {
  font-size: 0.5em;
}

.smaller-code-fold summary {
  font-size: 0.5em;
}

.smaller-code-fold details {
  margin-bottom: 0em;
}

.tiny {
  font-size: 0.3em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.no-margin {
  margin-top: 0px;
}
